In [1]:
import pandas as pd
import datetime as dt

## review of python DateTime

In [12]:
adate = dt.date(2020, 3,14)
str(adate)

'2020-03-14'

In [6]:
# all attributes/functions available for datetime object
adate.__dir__()

['__repr__',
 '__hash__',
 '__str__',
 '__getattribute__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__add__',
 '__radd__',
 '__sub__',
 '__rsub__',
 '__new__',
 'fromtimestamp',
 'fromordinal',
 'fromisoformat',
 'today',
 'ctime',
 'strftime',
 '__format__',
 'timetuple',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'toordinal',
 'weekday',
 'replace',
 '__reduce__',
 'year',
 'month',
 'day',
 '__doc__',
 'min',
 'max',
 'resolution',
 '__setattr__',
 '__delattr__',
 '__init__',
 '__reduce_ex__',
 '__subclasshook__',
 '__init_subclass__',
 '__sizeof__',
 '__dir__',
 '__class__']

In [7]:
adate.year

2020

In [11]:
adatetime = dt.datetime(2008, 11, 8, 15, 55, 59)
str(adatetime)

'2008-11-08 15:55:59'

In [19]:
# user string formatting to format a date
adatetime.__dir__()
adatetime.strftime('%B %d, %Y %I:%M %p' )

'November 08, 2008 03:55 PM'

## pandas Timestamp object

In [20]:
pd.Timestamp("2025-03-24")

Timestamp('2025-03-24 00:00:00')

In [21]:
pd.Timestamp("2025/03/24")

Timestamp('2025-03-24 00:00:00')

In [22]:
pd.Timestamp("2025, 03, 24")

Timestamp('2025-03-24 00:00:00')

In [23]:
pd.Timestamp("3/24/2015")

Timestamp('2015-03-24 00:00:00')

In [24]:
pd.Timestamp("4/3/2025")

Timestamp('2025-04-03 00:00:00')

In [25]:
pd.Timestamp("2025-03-24 9:25:15")

Timestamp('2025-03-24 09:25:15')

In [26]:
pd.Timestamp("2025-03-24 9:25 pm")

Timestamp('2025-03-24 21:25:00')

In [28]:
# pandas offers a lot more features
pdt = pd.Timestamp("2025-03-24")
pdt.__dir__()

['__module__',
 '__doc__',
 'fromordinal',
 'now',
 'today',
 'utcnow',
 'utcfromtimestamp',
 'fromtimestamp',
 'strptime',
 'combine',
 '__new__',
 '_round',
 'round',
 'floor',
 'ceil',
 'tz',
 '__setstate__',
 '__reduce__',
 'to_period',
 'dayofweek',
 'day_name',
 'month_name',
 'dayofyear',
 'week',
 'weekofyear',
 'quarter',
 'days_in_month',
 'daysinmonth',
 'freqstr',
 'is_month_start',
 'is_month_end',
 'is_quarter_start',
 'is_quarter_end',
 'is_year_start',
 'is_year_end',
 'is_leap_year',
 'tz_localize',
 'tz_convert',
 'astimezone',
 'replace',
 'isoformat',
 '_has_time_component',
 'to_julian_date',
 'normalize',
 '__radd__',
 '__dict__',
 '__weakref__',
 'min',
 'max',
 'resolution',
 '__repr__',
 '__hash__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__add__',
 '__sub__',
 '__rsub__',
 '__reduce_ex__',
 'to_pydatetime',
 'to_datetime64',
 'to_numpy',
 '_get_start_end_field',
 '_get_date_name_field',
 'timestamp',
 '_repr_base',
 '_date_repr',
 '_time_repr',
 '_short_repr',
 'asm8',
 'value',
 'nanosecond',
 'freq',
 '_date_attributes',
 '__pyx_vtable__',
 '__array_priority__',
 '__str__',
 '__getattribute__',
 'fromisoformat',
 'date',
 'time',
 'timetz',
 'ctime',
 'timetuple',
 'utctimetuple',
 'utcoffset',
 'tzname',
 'dst',
 'hour',
 'minute',
 'second',
 'microsecond',
 'tzinfo',
 'fold',
 'strftime',
 '__format__',
 'isocalendar',
 'isoweekday',
 'toordinal',
 'weekday',
 'year',
 'month',
 'day',
 '__setattr__',
 '__delattr__',
 '__init__',
 '__subclasshook__',
 '__init_subclass__',
 '__sizeof__',
 '__dir__',
 '__class__']

In [31]:
dates = ["2019-12-9", "2017-3-30", "2021-9-30"]
dtidx = pd.DatetimeIndex(dates)
dtidx

DatetimeIndex(['2019-12-09', '2017-03-30', '2021-09-30'], dtype='datetime64[ns]', freq=None)

In [32]:
values = [100, 200, 400]
pd.Series(data=values, index=dtidx)

2019-12-09    100
2017-03-30    200
2021-09-30    400
dtype: int64

## user pd.to_datetime() to convert various time formats

In [33]:
dates = ["2019-12-9", "2017-3-30", "Sep 30, 2021"]
pd.to_datetime(dates)

DatetimeIndex(['2019-12-09', '2017-03-30', '2021-09-30'], dtype='datetime64[ns]', freq=None)

In [35]:
# user errors="coerce" to set invalid value to 'NaT'
dates = ["2019-12-9", "2017-3-30", "hi", "Sep 30, 2021"]
pd.to_datetime(dates, errors="coerce")

DatetimeIndex(['2019-12-09', '2017-03-30', 'NaT', '2021-09-30'], dtype='datetime64[ns]', freq=None)

## Create Date Ranges with date_range()

In [36]:
pd.date_range('2018-01-01', '2018-01-13', freq="D")

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range('2018-01-01', '2018-01-13', freq="D")

In [42]:
# every third day
pd.date_range('2018-01-01', '2018-01-13', freq="3D")

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-07', '2018-01-10',
               '2018-01-13'],
              dtype='datetime64[ns]', freq='3D')

In [41]:
# business days
pd.date_range('2018-01-01', '2018-01-13', freq="B")

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-08', '2018-01-09', '2018-01-10',
               '2018-01-11', '2018-01-12'],
              dtype='datetime64[ns]', freq='B')

In [43]:
# by week, by first Sunday
pd.date_range('2018-01-01', '2018-03-13', freq="W")

DatetimeIndex(['2018-01-07', '2018-01-14', '2018-01-21', '2018-01-28',
               '2018-02-04', '2018-02-11', '2018-02-18', '2018-02-25',
               '2018-03-04', '2018-03-11'],
              dtype='datetime64[ns]', freq='W-SUN')

In [45]:
# start on Monday
pd.date_range('2018-01-01', '2018-03-13', freq="W-MON")

DatetimeIndex(['2018-01-01', '2018-01-08', '2018-01-15', '2018-01-22',
               '2018-01-29', '2018-02-05', '2018-02-12', '2018-02-19',
               '2018-02-26', '2018-03-05', '2018-03-12'],
              dtype='datetime64[ns]', freq='W-MON')

In [46]:
# by Hour
pd.date_range('2018-01-01', '2018-01-02', freq="H")

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               '2018-01-01 10:00:00', '2018-01-01 11:00:00',
               '2018-01-01 12:00:00', '2018-01-01 13:00:00',
               '2018-01-01 14:00:00', '2018-01-01 15:00:00',
               '2018-01-01 16:00:00', '2018-01-01 17:00:00',
               '2018-01-01 18:00:00', '2018-01-01 19:00:00',
               '2018-01-01 20:00:00', '2018-01-01 21:00:00',
               '2018-01-01 22:00:00', '2018-01-01 23:00:00',
               '2018-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [47]:
# Month End
pd.date_range('2018-01-01', '2018-03-13', freq="M")

DatetimeIndex(['2018-01-31', '2018-02-28'], dtype='datetime64[ns]', freq='M')

In [48]:
# Month Start
pd.date_range('2018-01-01', '2018-03-13', freq="MS")

DatetimeIndex(['2018-01-01', '2018-02-01', '2018-03-01'], dtype='datetime64[ns]', freq='MS')

In [50]:
# Last Day of each Year
pd.date_range('2018-01-01', '2022-03-13', freq="A")

DatetimeIndex(['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [52]:
# Month End starting with Jan
pd.date_range('2018-01-01', '2022-03-13', freq="A-JAN")

DatetimeIndex(['2018-01-31', '2019-01-31', '2020-01-31', '2021-01-31',
               '2022-01-31'],
              dtype='datetime64[ns]', freq='A-JAN')

## date_range() with period

In [55]:
pd.date_range('2018-01-01', periods=3, freq="W-MON")

DatetimeIndex(['2018-01-01', '2018-01-08', '2018-01-15'], dtype='datetime64[ns]', freq='W-MON')